# Diretórios de compilação
/target/
**/target/

# Artefatos de build do Cargo
Cargo.lock
.cargo/
**/*.rs.bk

# Arquivos de metadados do Rust
rustfmt.toml
clippy.toml

# Logs e caches
*.log
*.rs.bk
/.idea/
/.vscode/
/target/
/debug/
/release/
/build/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

To-do.txt
